html, body {
    margin: 0px;
    padding:0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

h3, h2 {
    margin: 0px;
}

/* HEADER */
header {
    border: 1px solid black;
    padding: 5px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

#search-bar {
    width: 40vw;
    background-color: rgb(226,233,241);
    border-radius: 10px;
    border-style: none;
    height: 20px;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
    gap: 15px
}

.right-nav img:nth-child(2) {
    height: 2rem;
    background-color: rgb(240, 215, 152);
    border-radius: 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-hero, .right-hero {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-hero button {
    background-color: rgb(28,148,211);
    border-radius: 10px;
    border-style: none;
    padding: 5px 20px;
}

.left-hero img {
    height: 2.5rem;
    background-color: rgb(240, 215, 152);
    border-radius: 10px;
    
}

img {
    height: 1.2rem;

}

input {
    height: 1rem
}



/* SIDEBAR */
.sidebar {
    grid-row: 1 / -1;
    background-color: rgb(28,148,211);
    border: 1px solid black;
}



/* MAIN-CONTENT */
main {
    border: 1px solid black;
    background-color: rgb(226,233,241);



/* 
Color for border-left on the main content grids
background-color: rgb(227,176,48);
*/
}

